.app {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s linear;

    .title {
        font-weight: 400;
        font-size: 71px;
        color: #fff1d5;
        margin-top: 80px;
        transition: all 0.2s linear;

        &.listening {
            opacity: 0;
            pointer-events: none;
        }
    }
}